{% extends "admin_template/base_template.html" %}
{% block page_title %}
Add Student
{% endblock page_title %}

{% load static %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Student</h3>
                        </div>
                        <!-- /.card-header -->
                    
                        {% comment %} <div class="form-group">
                            {% if messages %}
                                <div class="col-12">
                                    {% for message in messages %}
                                        {% if message.tags == "error" %}
                                            <div class="alert alert-danger">
                                                {{message}}
                                            </div>
                                        {% else %}
                                            <div class="alert alert-{{message.tags}}">
                                                {{message}}
                                            </div>
                                        {% endif %}
                        
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div> {% endcomment %}
                        
                        <!-- form start -->

                        {% comment %} <form role="form" action="/add_student_save" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form }}
                            </div>

                            <!-- /.card-body -->
                        
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">Add Student</button>
                            </div>
                        </form> {% endcomment %}

                        {% url 'add_student_save' as action_path %}
                        {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Student" %}

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->

{% endblock main_content %}