
<div class="form-group" style="margin-top: 25px">
    {% if messages %}
        <div class="col-12">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- form start -->

<form role="form" action="{{ action_path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">

        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% comment %} <label for="exampleInputEmail1">Email address</label> {% endcomment %}
                {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" autocomplete="off"> {% endcomment %}
            </div>
        {% endfor %}
    
    </div>

    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">{{ button_text }}</button>
    </div>
</form>